body {
  background-image: url(/public/images/background.jpeg);
}
h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
h1 {
  padding: 0.8rem 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}
.roulette-container {
  position: relative;
  text-align: center;
}
.roulette {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 30rem;
  user-select: none;
  pointer-events: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.ball {
  pointer-events: none;
  position: relative;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 30rem;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}
.ball:after {
  content: " ";
  position: absolute;
  top: 17%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: white;
  box-shadow: 2px 2px 4px grey;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.spin {
  margin: 1rem auto;
  padding: 0.75rem 1.25rem;
  background: #9a7058;
  color: #fff;
  font-size: 1.25rem;
  border: none !important;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.spin:hover {
  background: #ab7d63;
}
.table {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.table p {
  width: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.75rem 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(224, 222, 100);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.table p:hover {
  background-color: rgb(163, 72, 72);
}
.win-txt {
  height: 2rem;
  padding: 0.75rem;
  font-size: 1.5rem;
  background-color: black;
}
.rotate-roulette {
  animation: rotation-roulette 4900ms ease-in-out;
  -webkit-animation: rotation-roulette 4900ms ease-in-out;
}
@keyframes rotation-roulette {
  0% {
    transform: translateX(-50%) rotate(0deg);
    -webkit-transform: translateX(-50%) rotate(0deg);
    -moz-transform: translateX(-50%) rotate(0deg);
    -ms-transform: translateX(-50%) rotate(0deg);
    -o-transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-360deg);
    -webkit-transform: translateX(-50%) rotate(-360deg);
    -moz-transform: translateX(-50%) rotate(-360deg);
    -ms-transform: translateX(-50%) rotate(-360deg);
    -o-transform: translateX(-50%) rotate(-360deg);
  }
}
