@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --dark-background: #261b6e;
  --transparent-gray: rgba(255, 255, 255, 0.05);
  --black-table: #393d62;
  --red-table: #dd375e;
  --saturated-violet: #614af0;
  --highlight-saturated-violet: #7a67fb;
}
html,
body {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  color: white;
  font-family: "Inter", sans-serif;
  background-color: #1c144d;
}
.screen {
  position: relative;
  min-height: 100vh;
}
.headings {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}
h1 {
  background-color: #191340;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
h1 img {
  height: 2rem;
}
.title {
  font-size: 1.7rem;
  padding: 1.5rem 1rem;
  font-weight: 600;
}
.roulette-table {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.action-panel {
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  background-color: var(--dark-background);
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.action-panel:not(.loading) {
  opacity: 0;
}
.action-panel.loaded {
  opacity: 1;
}
.action-info-panels {
  display: flex;
  margin-left: 1.5rem;
}
.dropdown {
  margin: 1rem 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--transparent-gray);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.dropdown img {
  width: 1rem;
  transform: translateY(5%);
  -webkit-transform: translateY(5%);
  -moz-transform: translateY(5%);
  -ms-transform: translateY(5%);
  -o-transform: translateY(5%);
}
.transaction-container,
.info-container {
  position: absolute;
  height: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  background-color: var(--dark-background);
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 0rem 3rem;
  flex-direction: column;
  font-size: 1.2rem;
}
.info-container span {
  color: rgb(216, 216, 216);
}
.info-container .title {
  padding: 0 0 0.5rem;
}
.transaction-container .title {
  margin: 0.25rem 2rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.transaction-container .list {
  overflow-y: scroll;
  height: 100%;
  margin: 0 3rem;
}
.dropdown:hover {
  background-color: #1c144d;
}
.dropdown:hover .transaction-container {
  height: 40vh !important;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 5rem 1fr 6rem;
}
.dropdown:hover .transaction-container:after {
  content: "";
  display: block;
}

.dropdown:hover .info-container {
  height: 8rem !important;
  padding: 3rem 3rem 6rem;
}
.transaction {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.15);
}
.transaction div p:first-of-type {
  color: rgb(150, 150, 150) !important;
}
.token-button-container {
  padding: 0 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.token-button-container .wrapper {
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  align-items: end;
  /* flex-direction: column; */
  gap: 0.8rem;
}
.token-button-container .wrapper button {
  padding: 0.9rem 2rem 1.1rem;
  font-size: 2rem;
  transition: padding 0s;
  -webkit-transition: padding 0s;
  -moz-transition: padding 0s;
  -ms-transition: padding 0s;
  -o-transition: padding 0s;
}
.token-button-container .wrapper button.spinning {
  padding: 0.85rem 2rem 0.6rem;
}
.token-button-container .wrapper input[type="number"] {
  font-size: 2rem;
  padding: 1rem;
  width: 5rem;
  text-align: center;
  border: none;
}
.token-button-container .wrapper .bet-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.token-button-container .wrapper .bet-input input.disabled {
  cursor: not-allowed;
}
.token-button-container .wrapper .bet-input label {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.roulette-container {
  position: relative;
  overflow: hidden;
}
.roulette {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 30rem;
  user-select: none;
  pointer-events: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.ball {
  pointer-events: none;
  position: relative;
  top: 0;
  left: 50%;
  width: 30rem;
  height: 30rem;
  transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
}
.ball.show:after {
  content: " ";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.spin {
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  background: var(--saturated-violet);
  color: #fff;
  font-size: 1.25rem;
  border: none !important;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.spin:hover {
  background: var(--highlight-saturated-violet);
  border: 1px solid #fff;
  cursor: pointer;
}
.spin.disabled {
  background-color: #3f319b;
  cursor: not-allowed;
}
.table {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0.4rem;
}
.table div:first-of-type {
  grid-row: 1 / -1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table div:first-of-type div {
  color: #fff;
  background-color: #71c758 !important;
  border: 1px solid transparent;
  width: 3.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.table > div {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.table > div:not(:first-of-type) > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.table div:nth-of-type(n - 12) div,
.table div:nth-of-type(2n + 12):nth-of-type(-n + 19) div,
.table div:nth-of-type(n + 29):nth-of-type(-2n + 36) div {
  background-color: var(--black-table);
}
.table div:nth-of-type(2n - 12) div,
.table div:nth-of-type(n + 12):nth-of-type(-2n + 19) div,
.table div:nth-of-type(2n + 29):nth-of-type(-n + 37) div {
  background-color: var(--red-table);
}
.table > div > div:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.roulette-number-container {
  position: relative;
}
.winner-number {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231a58;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.win-txt {
  opacity: 0;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  font-size: 5rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.win-txt.show {
  pointer-events: all;
  animation: win 0.5s ease-in-out forwards;
  -webkit-animation: win 0.5s ease-in-out forwards;
}
.win-txt.show button {
  margin-top: 2rem;
}
@keyframes win {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rotate-roulette {
  animation: rotation-roulette 4s linear infinite forwards;
  -webkit-animation: rotation-roulette 4s linear infinite forwards;
}
@keyframes rotation-roulette {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
.pause-animation {
  animation-play-state: paused !important;
}
.selected {
  position: relative;
}
.selected:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 100%;
  background-image: url(/public/images/blueChip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.network {
  text-align: right;
  margin-right: 4rem;
  font-size: 1.2rem;
  opacity: 0.7;
}
.table-wrapper {
  position: relative;
}
.current-bet {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
}
.current-bet span {
  font-weight: 600;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
